<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <div class="nested-menu">
            <a [routerLink]="['/applications/list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span>{{ 'Applications' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="true">
                <ul class="submenu">
                    <li *ngFor="let app of applications">
                        <a [routerLink]="['/applications/dashboard', app.name]"><span>{{app.name}}</span></a>
                    </li>
                </ul>
            </li>
            <a [routerLink]="['/raports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span>{{ 'Raports' | translate }}</span>
            </a>
            <a [routerLink]="['/add-application']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span>{{ 'Add application' | translate }}</span>
            </a>
        </div>
    </ul>
</nav>
