<div class="card" style="margin-top: 20px">
    <div class="card-block">
      <h4 class="card-title">{{ application.name }}</h4>
      <h6 class="card-subtitle mb-2 text-muted"><b>ID:</b> {{ application._id }}</h6>
      <p class="card-text">
        <span><b>{{ 'Description' | translate }}:</b> {{ cutDescription(application.description, 40) }}</span><br />
        <span><b>{{ 'Language' | translate }}:</b> {{ application.language }}</span><br />
        <span><b>{{ 'Creation date' | translate }}:</b> {{ application.createDate }}</span><br />
        <span><b>{{ 'Type' | translate }}:</b> {{ application.type }}</span><br />
      </p>
      <a [routerLink]="['/applications/dashboard', application.name]" class="btn btn-primary">{{ 'Select' | translate }}</a>
    </div>
  </div>