<div [@routerTransition]>
    <h2 class="text-muted">{{ 'Raports' | translate }}</h2>

    <form style="margin-top: 20px" novalidate>
        <div class="form-content">
            <div class="form-group">
                <label for="application">{{ 'Application' | translate }}:</label>
                &nbsp;
                <select [(ngModel)]="form.application" id="application" name="application" class="form-control" style="width: 300px">
                    <option *ngFor="let app of applications">{{app.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="raport">Raport:</label>
                &nbsp;
                <select [(ngModel)]="form.raport" id="raport" name="raport" class="form-control" style="width: 300px">
                    <option *ngFor="let raport of raports">{{raport.description}}</option>
                </select>
            </div>
        </div>
    </form>

    <app-last-version-used *ngIf="form.application && form.raport == raports[0].description" [application]="getAppId(form.application)"></app-last-version-used>
    <app-last-logged-users *ngIf="form.application && form.raport == raports[1].description" [application]="getAppId(form.application)"></app-last-logged-users>
</div>