<div *ngIf="success" class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{ 'Success' | translate }}</h4> 
    <p>{{ 'Application' | translate }} {{ message }} {{ 'has been successfully added to database' | translate }}.</p>
</div>

<div *ngIf="!success" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">{{ 'Error' | translate }}</h4> 
    <p>{{ message }}</p>
</div>