<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>LogTracker</h1>
            <form [formGroup]="form" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input placeholder="{{ 'common.login' | translate}}" formControlName="username" name="email" required type="text" (blur)=trimSpacesLogin() class="form-control input-underline input-lg">
                    </div>

                    <div class="form-group">
                        <input placeholder="{{ 'common.password' | translate}}" formControlName="password" type="password" name="password" (blur)=trimSpacesPassword() required class="form-control input-underline input-lg">
                    </div>
                </div>
                <a class="btn rounded-btn" style="text-transform: uppercase" (click)="onLogin(form.value)">{{ 'login.signIn' | translate }}</a>
                &nbsp;
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'login.signUp' | translate }}</a> -->
            </form>
        </div>
    </div>
</div>
