<div [@routerTransition]>
    <button type="button" class="btn btn-info add-application-button" [routerLink]="['/add-application']">{{ 'Add application' | translate }}</button>
    <h2 class="text-muted">
        {{ 'Applications' | translate }}
    </h2>

    <div class="row">
        <div *ngFor="let app of applications" class="col-xl-4 text-xs-center">
            <app-application-card [application]="app"></app-application-card>
        </div>
    </div>
    <!-- /.row -->

</div>