.filter-element {
    margin: 0px 10px 15px 10px;
}

.submit-container {
    display: flex;
    justify-content: flex-end
}

.navigators-top {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end
}
.navigators-bottom {
    width: 100%; 
    display: flex; 
    justify-content: flex-end
}

.dashboard {
    font-size: 0.9em;
}

td.log {
background-color: rgb(187, 234, 190);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
td.error {
    background-color: rgb(239, 170, 170);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.not-active {
   pointer-events: none;
   cursor: default;
}

input.page-input {
    width: 3.5em;
}
input.no-spinner::-webkit-inner-spin-button, 
input.no-spinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.loader-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
}