<div [@routerTransition] style="min-height: 500px">
    <app-page-header [heading]="applicationName" [icon]="'fa-table'"></app-page-header>

    <div style="margin-bottom: 20px">
        <form (ngSubmit)="getDocs(form)" novalidate>
            <div class="form-inline">
                <div class="form-inline">
                    <div class="form-group filter-element">
                        <div class="input-group">
                            <label>Begin:&nbsp;</label>
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                    name="begin" [(ngModel)]="beginModel" ngbDatepicker #begin="ngbDatepicker">
                            <button class="input-group-addon" (click)="begin.toggle()" type="button">
                                <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group filter-element">
                        <div class="input-group">
                            <label>End:&nbsp;</label>
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                    name="end" [(ngModel)]="endModel" ngbDatepicker #end="ngbDatepicker">
                            <button class="input-group-addon" (click)="end.toggle()" type="button">
                                <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group form-inline filter-element">
                    <label for="user">User:&nbsp;</label>
                    <input [(ngModel)]="form.user" name="user" id="user" class="form-control no-spinner" type="number" />
                </div>

                <div class="form-group form-inline filter-element">
                    <label for="session">Session:&nbsp;</label>
                    <input [(ngModel)]="form.session" name="session" id="session" class="form-control no-spinner" type="text" />
                </div>

                <div class="form-group form-inline filter-element">
                    <label for="appVersion">App version:&nbsp;</label>
                    <input [(ngModel)]="form.appVersion" name="appVersion" id="appVersion" class="form-control" type="text" />
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div>
                    <button type="submit" class='btn btn-primary'>Search</button>
                    <button type="button" class='btn btn-link' (click)="clearFilters()">Clear filters</button>
                </div>

                <div class="navigators-top">
                    <div class="form-inline" style="margin-right: 15px">
                        <label style="margin-right: 5px" for="limit">Limit:</label>
                        <select [(ngModel)]="limit" name="limit" id="limit" class="form-control" (change)="getDocs(previousForm)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>300</option>
                        </select>
                    </div>

                    <div class="form-inline" style="margin-right: 15px">
                        <label style="margin-right: 5px" for="page">Page:</label>
                        <a href="javascript:void(0)" (click)="page = page - 1; getDocs(previousForm)" [ngClass]="page < 1 ? 'not-active' : ''">&lt;&lt;</a>
                        &nbsp;
                        <input [(ngModel)]="page" name="page" id="page" 
                            class="form-control page-input no-spinner" 
                            type="number" min="0" (keyup)="validatePage()" />
                        &nbsp;
                        <a href="javascript:void(0)" (click)="page = page + 1; getDocs(previousForm)">&gt;&gt;</a>
                    </div>

                    <div class="form-inline" style="margin-right: 15px">
                        <button type="button"
                            [ngClass]="type === '' ? 'btn btn-info' : 'btn btn-outline-info'"
                            [disabled]="type === ''"
                            (click)="type = ''; getDocs(previousForm)">
                            all
                        </button>
                        <button type="button"
                            [ngClass]="type === 'log' ? 'btn btn-success' : 'btn btn-outline-success'"
                            [disabled]="type === 'log'"
                            (click)="type = 'log'; getDocs(previousForm)">
                            log
                        </button>
                        <button type="button"
                            [ngClass]="type === 'error' ? 'btn btn-danger' : 'btn btn-outline-danger'"
                            [disabled]="type === 'error'"
                            (click)="type = 'error'; getDocs(previousForm)">
                            error
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div class="card mb-3">
        <div *ngIf="loading" class="loader-box">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <table *ngIf="!loading" class="card-block table table-hover dashboard">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>App version</th>
                    <th>Session</th>
                    <th>Session counter</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let doc of docs">
                    <tr (click)="selectedDoc = doc">
                        <th>{{doc.date}}</th>
                        <td>
                            <a href="javascript:void(0)" (click)="form.user = doc.user">{{doc.user}}</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" (click)="form.appVersion = doc.appVersion">{{doc.appVersion}}</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" (click)="form.session = doc.session">{{doc.session}}</a>
                        </td>
                        <td>{{doc.sessionCounter}}</td>
                        <td>
                            <span [ngClass]="doc.type === 'log' ? 'badge badge-success' : 'badge badge-danger'">
                                {{doc.type}}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="selectedDoc == doc">
                        <td colspan="6" [ngClass]="doc.type === 'log' ? 'log' : 'error'">{{doc.message}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="navigators-bottom">
        <div class="form-inline" style="margin-right: 15px">
            <label style="margin-right: 5px" for="limit">Limit:</label>
            <select [(ngModel)]="limit" name="limit" id="limit" class="form-control" (change)="getDocs(previousForm)">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>300</option>
            </select>
        </div>

        <div class="form-inline" style="margin-right: 15px">
            <label style="margin-right: 5px" for="page">Page:</label>
            <a href="javascript:void(0)" (click)="page = page - 1; getDocs(previousForm)" [ngClass]="page < 1 ? 'not-active' : ''">&lt;&lt;</a>
            &nbsp;
            <input [(ngModel)]="page" name="page" id="page" 
                class="form-control page-input no-spinner" 
                type="number" min="0" (keyup)="validatePage()" />
            &nbsp;
            <a href="javascript:void(0)" (click)="page = page + 1; getDocs(previousForm)">&gt;&gt;</a>
        </div>

        <div class="form-inline" style="margin-right: 15px">
            <button type="button"
                [ngClass]="type === '' ? 'btn btn-info' : 'btn btn-outline-info'"
                [disabled]="type === ''"
                (click)="type = ''; getDocs(previousForm)">
                all
            </button>
            <button type="button"
                [ngClass]="type === 'log' ? 'btn btn-success' : 'btn btn-outline-success'"
                [disabled]="type === 'log'"
                (click)="type = 'log'; getDocs(previousForm)">
                log
            </button>
            <button type="button"
                [ngClass]="type === 'error' ? 'btn btn-danger' : 'btn btn-outline-danger'"
                [disabled]="type === 'error'"
                (click)="type = 'error'; getDocs(previousForm)">
                error
            </button>
        </div>
    </div>
</div>