<div class="card mb-3">
    <div *ngIf="loading" class="loader-box">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <table *ngIf="!loading" class="card-block table table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let record of records">
                <tr>
                    <th>{{record._id}}</th>
                    <td>{{record.date}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>