<div [@routerTransition]>
    <h2 class="text-muted">{{ 'Add application' | translate }}</h2>

    <form (ngSubmit)="addApplication()" style="margin-top: 20px" novalidate>
        <div class="form-content">

            <div class="form-group row">
                <label class="col-xl-2">{{ 'Type' | translate }}:</label>
                <div class="form-check form-check-inline" style="margin-left: 10px">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="type" value="mobile" #mobile (change)="selectType($event)"> mobile
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="type" value="web" #web (change)="selectType($event)"> web
                    </label>
                </div>
            </div>
            <div [hidden]="mobile.checked || web.checked" class="alert alert-danger col-xl-6">
              {{ 'Type is required' | translate }}
            </div>

            <div class="form-group row">
                <label for="name" class="col-xl-2">{{ 'Name' | translate }}:</label>
                <div class="col-xl-4">
                    <input [(ngModel)]="application.name" id="name" name="name" type="text" #name="ngModel" (blur)="trimName()" class="form-control" required />
                </div>
            </div>
            <div [hidden]="name.untouched || name.value.trim() !== ''" class="alert alert-danger col-xl-6">
              {{ 'Name is required' | translate }}
            </div>
            <div class="form-group row">
                <label for="description" class="col-xl-2">{{ 'Description' | translate }}:</label>
                <div class="col-xl-4">
                    <input [(ngModel)]="application.description" id="description" name="description" type="text" (blur)=trimDescription() class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="language" class="col-xl-2">{{ 'Language' | translate }}:</label>
                <div class="col-xl-4">
                    <input [(ngModel)]="application.language" id="language" name="language" type="text" (blur)="trimLanguage()" class="form-control" />
                </div>
            </div>

            <button type="submit" [disabled]="!name.value || name.value.trim() === '' || (!mobile.checked && !web.checked)" class="btn btn-light" style="margin-top: 15px">{{ 'Add application' | translate }}</button>
            
        </div>
    </form>
</div>

<div class="add-application-toast">
    <app-add-application-toast *ngIf="!toastInfo.hidden" [success]="toastInfo.success" [message]="toastInfo.message"></app-add-application-toast>
</div>